<header id="header">
    <h1 class="title">{{ title }}</h1>

<nav class="navigation">
    <ul class="items">
        <li class="item-list"><a href="/">Weather</a></li>
       <li class="item-list"><a href="/about">about</a></li>
       <li class="item-list"><a href="/help">help</a></li>
    </ul>

    <div class="search">
        <input type="text" placeholder="Example : California" />
    </div>
</nav>
</header>