<main id="main">

<section class="forcast">
 <h3 class="location">Location</h3>
<div class="forcast-container">
    <div class="expect">
       Cloud
    </div>
    <div class="degree">
        <p class="temperature"> <span class="measure">25</span>&deg;F</p>
        <p class="feels">Feels like <span class="number"></span>&deg;C</p>
    </div>
    <div class="humidity">
        humidity
    </div>
    <div class="times">
        times
    </div>
 </div>
 <div class="forcast-more">
     <a href="#" class="link">Full forcast</a>
 </div>
</section>
    
    <section class="articles">
      <form class="submit">
     <input type="text" id="location" placeholder="choose a country" />
      </form>

     <div class="card-containers">
       
     </div> 
        
    </section>

     <section class="like">
         {{!-- <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div> --}}
    </section>
</main>