<main id="main">

<section class="forcast">
 <h3 class="location">Location</h3>
<div class="forcast-container">
    <div class="expect">
       Cloud
    </div>
    <div class="degree">
        <p class="temperature"> <span class="measure">25</span>&deg;F</p>
        <p class="feels">Feels like <span class="number"></span>&deg;C</p>
    </div>
    <div class="humidity">
        humidity
    </div>
    <div class="times">
        times
    </div>
 </div>
 <div class="forcast-more">
     <a href="#" class="link">Full forcast</a>
 </div>
</section>
    
    <section class="articles">
        <div class="card">
            <div class="card-img">
                 <img src="./img/img.jpg" />
            </div>
           
            <div class="card-container">
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi sunt animi recusandae, id vel esse iusto sapiente libero ab beatae quos laborum sequi et ullam. Delectus itaque minus mollitia.</p>
                <p class="card-anchor"><a href="#">view more ...</a></p>
            </div>
          
        </div>
         <div class="card">
            <div class="card-img">
                 <img src="./img/img.jpg" />
            </div>
           
            <div class="card-container">
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi sunt animi recusandae, id vel esse iusto sapiente libero ab beatae quos laborum sequi et ullam. Delectus itaque minus mollitia.</p>
                <p class="card-anchor"><a href="#">view more ...</a></p>
            </div>
          
        </div>
         <div class="card">
            <div class="card-img">
                 <img src="./img/img.jpg" />
            </div>
           
            <div class="card-container">
                <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi sunt animi recusandae, id vel esse iusto sapiente libero ab beatae quos laborum sequi et ullam. Delectus itaque minus mollitia.</p>
                <p class="card-anchor"><a href="#">view more ...</a></p>
            </div>
          
        </div>
    </section>

     <section class="like">
        <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
       <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
        <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
         <div class="like-card">
            <img src="./img/img.jpg" />
            <p class="desc">description</p>
            <p class="tags">tags</p>
        </div>
    </section>
</main>