.header{

    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-grey-10);
}

.logo{
    height:auto;
    margin:1rem 1rem;
}

.logo img {

    width:10rem;
    height: 9rem;
    border-radius: 2.5rem;

}

.navContainer{

  display: flex;
  width:40rem;

}

.nav{
    width:100%;
}

.lists{

    display: flex;
    justify-content: space-around;
    align-items:center;
}



.items a{

    font-size: 1.6rem;
    color:var(--clr-primary-1);
    transition: all 0.2s ease;
    display: block;
    position: relative;
}

.items a:hover {

    color:var(--clr-grey-1);
}
.btn{

    margin:1rem 1rem;
    width:15rem;   
}

.button{

    display: table;
    width:150px;
    height: 50px;
    text-align: center;
    border:1px solid var(--clr-primary-1);
    border-radius: 3rem;
    transition: var(--transition);
}

.button:hover {
    transform: scale(1.2);
    background-color: var(--clr-primary-1);
  
}
.button span:hover{

    color:var(--clr-grey-10);
}



.button span{

    display: table-cell;
    vertical-align: middle;
    font-size: 1.2rem;
    padding:1rem 1rem;
    color:var(--clr-grey-1);
}